@model IEnumerable<PrimeiraAvaliacao.Models.Aluno>

@{
    ViewBag.Title = "Alunos";
}

<h2>Alunos</h2>

<table class="table-bordered table-hover" width="100%">
    <thead>
        <tr>
            <th>Nome</th>
            <th>CPF</th>
            <th>Faixa</th>
            <th>Tipo de Associação</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var aluno in Model)
        {
            <tr>
                <td>@Html.ActionLink(@aluno.Nome, "Details", new { aluno.Id})</td>
                <td>@aluno.CPF</td>
                <td>@aluno.Faixa.Nome</td>
                <td>@aluno.TipoDeAssociacao.Nome</td>
            </tr>
        }
    </tbody>
</table>